.flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

app-nav-bar {
    flex: 0 0 150px;
}


app-base-map {
    flex: 1 1 calc(100% - 150px);
}
