<table>
    <tr valign="bottom">
        <td>
            upload stammdaten.xml: <app-upload-dr></app-upload-dr><br>
            <!--download stammdaten.xml: <app-download-dr></app-download-dr>-->
        </td>
        <td>
            <input type="checkbox" (change)="this.showHaltestellenChange($event)" checked>
            {{ this.getHstCount() }} Haltestellen<br>
            <input type="checkbox" (change)="this.showHaltestellenLabelsChange($event)"> show Labels
        </td>
        <td>
            <input type="checkbox" (change)="this.showKantenChange($event)" checked>
            {{ this.getKantenCount() }} Kanten
        </td>
        <td>
            Zonenpläne:
            <select (change)="this.zonenplanChange($event)" [value]="-1">
                <option [value]="-1">(empty)</option>
                <option *ngFor="let zonenplan of this.getZonenplanList(); let i = index;"
                        [value]="i">{{ zonenplan.bezeichnung }}</option>
            </select>
            <br>
            <input type="radio" name="zonlok" [value]="1" checked (change)="this.showZonenSelect(true)">{{ this.getZonenCount() }} Zonen<br>
            <input type="radio" name="zonlok" [value]="2" (change)="this.showZonenSelect(false)">{{ this.getLokalnetzCount() }} Lokalnetze<br>
        </td>
    </tr>
</table>
