<div #container class="ol-popup">
    <mat-card *ngIf="this.kante">
        <mat-card-header>
            <mat-card-title>
                {{ this.getKanteName() }}
            </mat-card-title>
            <mat-card-subtitle>
                Kante
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Von: {{ this.kante.haltestelle1.bavName }} (<a href="#" (click)="this.selectHaltestelle(this.kante.haltestelle1)">{{ this.kante.haltestelle1.uic }}</a>)</p>
            <p>Nach: {{ this.kante.haltestelle2.bavName }} (<a href="#" (click)="this.selectHaltestelle(this.kante.haltestelle2)">{{ this.kante.haltestelle2.uic }}</a>)</p>
            <span>
                Betreiber:
                <ul>
                    <li *ngFor="let kte of this.getParallelKanten()">
                        {{ kte.betreiber }} ({{ VerkehrsmittelTyp[kte.verkehrsmittelTyp] }}), Linie: {{ this.getLinienText(kte) }}
                    </li>
                </ul>
            </span>
            <span *ngIf="this.getZonenplaene().length > 0">
                Zonen:
                <ul>
                    <li *ngFor="let zonenplan of this.getZonenplaene()">
                        {{ zonenplan.bezeichnung }}: <span *ngFor="let zone of this.getZonen(zonenplan)">{{ zone.code }} </span>
                    </li>
                </ul>
            </span>
        </mat-card-content>
    </mat-card>
</div>
